*{
    font-family: "Times New Roman", Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;

}
body{
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    
}

.header{
    text-align: center;
    width: 100vw;
    height: 80px;
}
.header h1{
    font-size: 2rem;
}

.container{
    width: 40%;
    height: 60%;
    background-color: white;
    position: absolute;
    transform: translate(-50% ,-50%);
    top: 50%;
    left: 50%;

    
}

.input{
  
    display: flex;
    margin: 3rem 0px;
   
}
.input-data{
 /* border: 2px solid black; */
 width: 60%;
}
.input-data label{
    font-size: 1.3rem;
}
#weather{
    width: 60%;
    padding: .5rem 1.5rem;
    border-radius: 24px;
    border: 2px solid black;
}

.search-btn {
    padding: .6rem 1.8rem;
    /* margin-left: 3rem; */
    border-radius: 16px;
    font-size: 1.2rem;
    background-color: aqua;
}
.search-btn:hover{
    cursor: pointer;
}

.locatin-btn{
    padding: .6rem 1.8rem;
    border-radius: 16px;
    font-size: 1.2rem;
    background-color: aqua;
    margin-left: 1rem;
}
.locatin-btn:hover{
    cursor: pointer;
}

.data{
    /* border: 2px solid black; */
    width: 100vw;
    display: flex;
    justify-content: space-around;
    
}

