*{
    font-family: "Times New Roman", Times, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1rem;

}
body{
    width: 100vw;
    height: 100vh;
    color: #fff;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: rgb(16, 16, 16);
}

.header-container{
    height: 8%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
/* .header{
    border: 2px solid black;
} */
.header h1{
    font-size: 50px;
    font-weight: 800;
    margin-left: 1rem;
}
.input-data{
    /* border:  2px solid black; */
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.search-btn {
    padding: .7rem 1.3rem;
    border-radius: 16px;
    margin-left: 2rem;
    font-size: 20px;
    border: none;
}
.location_btn{
    padding: .7rem 1.3rem;
    border-radius: 16px;
    margin-left: 2rem;
    background-color: orange;
    font-size: 20px;
}
#weather_inp{
    width: 50%;
    padding: .7rem 1rem;
    border-radius: 16px;
}
 .wdata{
    border: 2px solid rgb(22, 22, 22);
    width: 40%;
    /* padding: 30px 0px; */
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 1rem;
    background-color: rgb(36, 35, 35);
    color: white;
    border-radius: 16px;
    margin: 4rem 1rem;
 }
 

 .wdata h4{
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
 }

 .temp-cloc{
    display: flex;
    justify-content: space-between;
 }

 .weather-data{
    margin-top: 3rem;
 }
 .temp-cloc h2{
    font-size: 2rem;
 }
 .current-time{
    display: flex;
    flex-direction: column;
    gap: 14px;
 }
 .weather-img{
    display: flex;
    flex-direction: column;
    gap: 8px;
 }
 .weather-img h3{
    font-size: 25px;
   margin-left: 10px;
 }

 .current-time h6,h3{
    font-size: 19px;
    font-weight: 400;
 }

 @media (max-width: 1200px) {
    .location_btn{
        padding: .2rem .6rem;
       
    }
    .wdata{
        width: 40%;
    }
    .location_btn{
        width: 200px;
        padding: 10px 0px;
        margin-left: 10px;
    }
    .search-btn{
        margin-left: 10px;
    }
 }

 @media (max-width: 900px)  {
    .location_btn{
        padding: 2px 4px;
       
    }
    .header h1{
        font-size: 30px;
        font-weight: 400;
        margin-left: 9px;
    }
    .wdata{
        width:50%;
    }
    .input-data{
       
        width: 50%;
        
    }
    .location_btn{
        width: 200px;
        padding: 10px 0px;
        margin-left: 10px;
    }
    .search-btn{
        margin-left: 10px;
    }
   
 }
 @media (max-width: 850px)  {
    
    .header h1{
        font-size: 40px;
        font-weight: 800;
        margin-left: 9px;
    }
    .wdata{
        width:50%;
    }
    .input-data{
       
        width: 70%;
        
    }
    .location_btn{
        width: 200px;
        padding: 10px 0px;
        margin-left: 10px;
    }
    
    .search-btn{
        margin-left: 10px;
    }
 }

 @media (max-width: 650px) {
    .header-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: fit-content;
    }
    .input-data{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
    .location_btn{
        width: 70%;
        padding: 10px 0px;
        margin-left: 10px;
        font-size: 1.5rem;
    }
    
    .search-btn{
        width: 70%;
        margin-left: 10px;
        font-size: 1.5rem;
    }
    #weather_inp{
        margin-left: 10px;
        font-size: 1rem;
        width: 70%;
    }
    .wdata{
        width: 90%;
      
    }
 
 }